<section class="productos">

    
    <div>
        <h4>Revisa</h4>
        <h2>NUESTROS PRODUCTOS</h2>
        <p>Hacemos los mejores productos. En cuanto a embutidos y productos ahumados. Embutidos de calidad...como nosotros no hay...productos de calidad.</p>
        <div class="boton_informacion">
          <button type="button" class="btn btn-outline-danger">INVENTARIO</button>
        </div>
    </div>

    <div id="linea">
        <div id="productos">
        <img src="assets/img/salchicha.jpg" alt="" id="carne">
        {{leerJson1}}
        <h3>{{leerJson1_Precio}}</h3>
        </div>
        
        <div id="productos">
            <img src="assets/img/pierna.jpg" alt="" id="carne">
        {{leerJson2}}
        <h3>{{leerJson2_Precio}}</h3>
        </div>
        
        <div id="productos">
            <img src="assets/img/lomo.jpg" alt="" id="carne">
        {{leerJson3}}
        <h3>{{leerJson3_Precio}}</h3>
        </div>
        

    </div>
    
</section>

